* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  font-size: 15px;

}
body, html{
height:100%;
}
body{
background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./image/trainBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: opacity(100%);
  background-attachment:fixed;
  scroll-behavior:smooth;
  box-sizing: border-box;

  }
.wrapper {
  width: auto;
  height: 100vh;


  scroll-behavior: smooth;
}
.Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.521);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
/*.logo {
  font-family: "Abel", sans-serif;
  font-size: 45px;
      font-weight:600;
      padding-left: 20px;
  letter-spacing: 0.7rem;
  color: white;
  margin: 4%;
}
*/
.menu {
  display: inline-block;
  line-height: 80px;
}
.menu ul {
  list-style: none;
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.menu ul li {
  display: inline-block;

}
.menu ul li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size:15px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 5px;
  transition: 0.5s ease;
}
.menu ul li a:hover {
  border-color: white;
}

.header {
  text-align: center;
}
.header h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  padding: 45% 20px 8px;
}
.header p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  padding: 10px 15px;
}
button {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: black;
  background-color: #fff200;
  padding: 20px 30px;
  margin: 50px 5px 0;
  border: none;
  cursor: pointer;
}
.header h2{
font-family: "Raleway", sans-serif;
font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
color:white;
}
.btn {


    background-color:#FEBE10;
}
.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
    margin-left: 700px;
    color:white;
}
/*.navimg {
  margin: 4%;
  width: 100%;
  height: 45px;

}
*/
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
    font-family: 'Circular-Loom';
    color: white;
}
.h4, h4 {

    font-size: medium;
    font-family: 'Circular-Loom';
    color:white;
}


  .card {
      border: none;
      position: absolute;
      left: 15%;
      top:30%;
      overflow: hidden;
      border-radius: 2.3rem;
      cursor: pointer;
      background: rgba(28, 26, 26, 0.64);
      width: 68%;
  }

.table-dark {
    --bs-table-bg: #5f41009e;
    --bs-table-striped-bg: #46310800;
    --bs-table-striped-color: rgb(228 228 227);
    --bs-table-active-bg: #363120;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(28, 26, 26, 0.97);
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(46, 148, 46, 0.97);
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom
}

.card:hover::after {
  transform: scaleY(1)
}

.fonts {
  font-size: 1rem;
}



.buttons button:nth-child(1) {
  border: 1px solid #8E24AA !important;
  color: rgba(46, 148, 46, 0.97);
}

/*
flip card
*/

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
.text-white-50 {
    --bs-text-opacity: 1;
    color: white;
}
.btn {

    margin-top: 15px;
    background-color:#FEBE10;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    font-family: cursive;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    font-size: 18px;
}
.welcome{
font-size:26px;
 font-family: cursive;
}
h3 .s{
 font-size: calc(1.3rem + .6vw);
    font-family: cursive;
    color: white;
}