

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>404 Error Page</title>
    <link href="/error.css" rel="stylesheet">

</head>
<body>
<div class="container">

    <div  class="error">
        <p class="p">4</p>
        <p class="p">0</p>
        <p class="p">4</p>

        <div class="page-ms">
            <p class="page-msg"> Oops, the page you're looking for Disappeared </p>
            <a href="/"><button class="go-back" >Go Back</button></a>
        </div>
    </div>
</div>


</body>
</html>